.status-bar-safe-area {
    display: none;
}

@supports (-webkit-touch-callout: none) {
    .status-bar-safe-area {
        display: flex;
        position: sticky;
        top: 0;
        height: env(safe-area-inset-top);
        background-color: transparent;
        width: 100%;
        z-index: 1;
    }
}

#blazor-error-ui {
    background: rgba(255,255,160,0.95);
    bottom: 0;
    display: none;
    left: 0;
    padding: 10px 14px;
    position: fixed;
    width: 100%;
    z-index: 99999;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 12px;
        top: 8px;
    }
